
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />

    <link rel="stylesheet" href="~/Content/bootstrap.css" />
    <link rel="stylesheet" href="~/Content/Custom Styles/HomePage.css" />
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" /> <!--load all styles -->

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

    <title>Chat Messenger</title>
</head>
<body onload="showModal()">
    <div class="container-fluid main">
        <div id="loaderClass" class="loader-class hide">
            <img class="loader" src="~/Content/Images/Fidget-spinner.gif" />
            <label class="loader-label">Loading...</label>
        </div>
        <div class="custom-navbar">
            <ul class="nav nav-tabs nav-justified">
                <li class="active">
                    <label class="title">Chat-Messenger</label>
                </li>
            </ul>
        </div>
        <div class="dflex h-91vh">
            <div class="left-panel">
                <table class="w-100p" id="custom-table">
                    <tbody id="custom-table-body1"></tbody>
                </table>
                <div class="floating-div">
                    <button type="button" title="New Chat" class="btn btn-success floating-button" onclick="startNewChat()">
                        <i class="fas fa-edit"></i>
                    </button>
                </div>
            </div>
            <div class="right-panel">
                <div id="custom-card-header" class="card-header hidden" style="height: auto;">
                    <div class="card-content dflex" style="padding: 5px 7px; border-bottom: 1px solid grey; height: auto;">
                        <div id="img-div" class="img-circle fake-img hidden">
                            <img src="~/assets/chat-avatar.png" class="image" alt="chat-avatar" />
                        </div>
                        <div id="cardDetails" class="dflexcol card-details">
                            <h3 id="currentConvoUserName" class="custom-margin-block custom-header"></h3>
                            <label id="currentConvoLabel" class="custom-label"></label>
                        </div>
                    </div>
                </div>
                <div class="card-body" style="height: 100%; overflow: auto;">
                    <table class="w-100p">
                        <tbody id="custom-table-body2"></tbody>
                    </table>
                </div>
                <div id="cardFooter" class="card-footer hidden" style="height: 16%;">
                    <div class="container-fluid p-2" style="height: 100%;">
                        <div class="dflex custom-inputdiv" style="height: 100%; padding: 6px; align-items: center;">
                            <textarea rows="2" id="messageBox" title="Enter Message" placeholder="Type a message" type="text" class="custom-inputtextarea"></textarea>
                            <button type="button" title="Send Message" class="custom-button" style="height: 75%;"
                                    onclick="sendMessage()">
                                <i class="fas fa-paper-plane"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="modal-exhibit">
            <div class="modal fade" tabindex="-1" id="registerModal"
                 data-keyboard="false" data-backdrop="static">
                <div class="modal-dialog modal-sm">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Enter Credentials</h4>
                        </div>
                        <div class="modal-body">
                            <form>
                                <label>User Name <label style="color: red;">*</label></label>
                                <input id="userName" type="text" class="form-control" required />
                                <label>Password <label style="color: red;">*</label></label>
                                <input id="password" type="password" class="form-control" required />
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" title="Register User" class="btn btn-primary pull-left"
                                    onclick="registerUser()">
                                Register
                            </button>
                            <button type="submit" title="Sign In" class="btn btn-success"
                                    onclick="establishConnection()">
                                Sign In
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <!--Bootstrap alert to display any validation errors-->
            <div id="divError" class="alert alert-danger collapse">
                <a id="linkClose" href="#" class="close">&times;</a>
                <div id="divErrorText"></div>
            </div>
            <div class="modal fade" tabindex="-1" id="chatConnectionModal"
                 data-keyboard="false" data-backdrop="static">
                <div class="modal-dialog modal-sm">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">
                                &times;
                            </button>
                            <h4 class="modal-title">Enter User Name to Chat with</h4>
                        </div>
                        <div class="modal-body">
                            <form>
                                <label>User Name <label style="color: red;">*</label></label>
                                <input id="connectToUserName" type="text" class="form-control" required />
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" title="Close Connection" class="btn btn-primary pull-left"
                                    onclick="closeModal('chatConnectionModal')">
                                Cancel
                            </button>
                            <button type="submit" title="Connect" class="btn btn-success"
                                    onclick="connectUser()">
                                Connect
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>

<script type="text/javascript" src="~/Scripts/jquery-3.4.1.min.js"></script>
<script type="text/javascript" src="~/Scripts/bootstrap.min.js"></script>
<script type="text/javascript" src="~/Scripts/Custom Scripts/HomePage.js"></script>
<script type="text/javascript" src="~/Scripts/Custom Scripts/loadash.js"></script>

<script src="~/Scripts/jquery.signalR-2.4.2.min.js"></script>
<script src="~/signalr/hubs"></script>
